server:
  port: 8081
spring:
  main:
    allow-circular-references: true
  datasource:
    username: user_db
    url: jdbc:mysql://165.227.252.171/gestaoGastos?createDatabaseIfNotExist=true&serverTimezone=UTC
    password: root123123
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: 'true'
  mail:
    properties:
      mail:
        smtp:
          starttls:
            enable: 'true'
            required: 'true'
          ssl:
            enable: 'false'
          auth: 'true'
    host: 'smtp.gmail.com'
    username: ${USER_EMAIL}
    password: ${PASSWORD_EMAIL}
    test-connection: 'false'
    port: '587'

email-cop: 'digidatasistemas@gmail.com'

security:
  oauth2:
    client:
      client-secret: '123'
      client-id: algaworks
      scope: password
gestao:
  jwt:
    secret: gestaoGasto