<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body style="font-family: Arial; font-size: 14px;">

		<h1>Olá,&nbsp;<b><span th:text="${UsuarioInputDTO.nome}"> </span> </b></h1>

		<p>Seja bem vindo(a) ao Sistema de Gestão Financeira da Digidata Sistemas!</p>

		<p>Os dados de acesso são:</p>

		<p>Login : <b><span th:text="${UsuarioInputDTO.login}"> </span></b> </p>

		<p>Senha : <b><span th:text="${UsuarioInputDTO.senha}"> </span></b> </p>

		<p>Para garantir a sua segurança e o sigilo de seus dados,</p>

		<p>memorize-a e não divulgue a outras pessoas.</p>

		<p>Atenciosamente,</p>
		<p>Equipe da Digidata Sistemas</p>
		<a href="http://gestao-financeira.digidatasistemas.com.br/">Visite gestao-financeira.digidatasistemas.com.br!</a>

	</body>
</html>